<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/CSS/party.css}" href="../static/CSS/"/>
    <title>Pay</title>
</head>

<header>
    <nav>
        <ul>
            <li>
                <a class="nav" th:href="@{/home}">Homepage</a>
                <a class="nav" th:href="@{/about}">About</a>
                <a class="nav" th:href="@{/venuedetails}">Venue</a>
            </li>
        </ul>
    </nav>
</header>

<body>
<h1>Payment</h1>

<p th:text="${dateToday}">Date</p>
<p th:text="${betaalDatum}">Pay Date</p>
</body>
</html>