<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/CSS/party.css}" href="../static/CSS/"/>
    <title>Pay</title>
</head>

<div th:replace="fragments/header :: header">Hier komt de header</div>

<body>
<h1>Payment</h1>
<p th:text="${dateToday}">Date</p>
<p th:text="${betaalDatum}">Pay Date</p>

<div class="footer">
    <div th:replace="fragments/footer :: footer">Hier komt de footer</div>
</div>
</body>
</html>