<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>venuedetails</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/CSS/party.css}" href="/static/CSS/party.css">
</head>

<div th:replace="fragments/header :: header">Hier komt de header</div>


<body>
<div>
    <div class="row1content" th:if="${venue}">

        <h1 class="title">Venue Details</h1>


        <div class="parent">

            <h2 th:text="|Venue: ${venue.getVenueName()}|"></h2>

            <dl>
                <dt>More info:</dt>
                <dd th:text="${venue.getLinkMoreInfo()}"></dd>


                <dt>Capacity:</dt>
                <dd th:text="${venue.getCapacity()}"></dd>

                <dt>Food?:</dt>
                <dd th:text="${venue.booleanToText(venue.getFoodProvided())}"></dd>

                <dt>Indoor?:</dt>
                <dd th:text="${venue.booleanToText(venue.getIndoor())}"></dd>

                <dt>Outdoor:</dt>
                <dd th:text="${venue.booleanToText(venue.getOutdoor())}"></dd>

                <dt>Parking?:</dt>
                <dd th:text="${venue.booleanToText(venue.getFreeParkingAvailable())}"></dd>

                <dt>City:</dt>
                <dd th:text="${venue.getCity()}"></dd>

                <dt>Distance:</dt>
                <dd th:text="${venue.getDistanceFromPublicTransportInKm()}"></dd>


            </dl>

        </div>
    </div>

        <div class="row1content" th:unless="${venue}">
            <p>no venue was chosen</p>
        </div>
</div>
<div class="footer">
    <div th:replace="fragments/footer :: footer">Hier komt de footer</div>
</div>
</body>
</html>