<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>venuedetails</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/CSS/party.css}" href="/static/CSS/party.css">
</head>
<body>
<a th:href="@{/home}">Homepage</a>
<h1>Venue Details</h1>

<h2 th:text="|Venue: ${venue.getVenueName()} extra info: ${venue.getLinkMoreInfo()} |"></h2>

</body>
</html>